@import '../../variables'

.cartItems
  margin-bottom 2rem

.cartInner 
  max-width: 768px
  padding: 0 1rem
  box-sizing: border-box;
  margin: 0 auto

.cartHeader
  padding-top 4.5rem
  padding-bottom 1rem
  display: flex
  align-items: center

.cartTitle
  font-size: 2rem
  font-weight: 600;
  color: #1e1e3c
  margin 0

.clearCart
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  cursor pointer
  color: $color-red
  background: none
  border: none

@media (max-width: 800px)
  .cartTitle
    font-size: 1.85rem