@import '../../variables';

.wrapper
  padding-bottom: 4rem

.textWrapper, .goldWrapper, .deliveryWrapper
  color $color-dark-grey
  display flex
  justify-content space-between
  padding 1.25rem 0

.goldWrapper
  padding .25rem 0

.deliveryWrapper
  border-top 1px solid #ECEFF4
  border-bottom 1px solid #ECEFF4

.sliderLabel
  display: block;
  padding 2rem 0
  color $color-dark-blue

.label
  font-weight: 600
  font-size: 1.2rem

.value
  color $color-primary
  font-size: 1.5rem
  font-weight: 600
