@import '../../variables';

.icon
  color: $color-primary;

.locationSelect
  cursor: pointer;

.locationText
  color: $color-dark-grey;
  padding-left: 5px;

.locationCity
  color: $color-primary;
  padding-right: 5px;
