@import '../../variables';

.button
  cursor pointer
  width 100%
  border: none
  border-radius 3px
  background: $color-primary
  text-transform: uppercase
  color #fff
  padding: 1rem
  box-sizing: border-box
  font-size: 1rem
  font-weight: 600