@import '../../variables';

.nav
  display: flex;
  flex: 1;

.navItems
  font-size: 1.15rem;
  padding-top: .5rem;

.navItem
  color: $color-dark-grey;
  text-decoration: none;
  transition: color .3s;

  &:not(:last-child)
    margin-right: 2.65rem;

  &:hover
    color: $color-primary;

.navItemIcon
  padding-left: .5rem;

.mobileMenuBtn
  cursor: pointer;
  display: none;

.menuLine
  width: 2.2rem;
  height: 3px;
  background: $color-primary;
  border-radius: 4px;
  position: relative;

  &:before, &:after
    content: '';
    position: absolute;
    height: 3px;
    background: $color-primary;
    border-radius: 4px;
    right: 0;

  &:before
    width: 1.8rem;
    bottom: .5rem;

  &:after
    width: 1.3rem;
    top: .5rem;

.opened
  .menuLine
    background: none;

    &:before, &:after
      top: 0;
      bottom: 0;
      width: 100%;

    &:before
      transform: rotate(45deg);

    &:after
      transform: rotate(-45deg);

@media (max-width: 1000px)
  .navItem
    &:not(:last-child)
      margin-right: 1.5rem;

@media (max-width: 800px)
  .navItems
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 20vh 2rem 2rem;
    box-sizing: border-box;
    font-size: 2rem;
    background: #fff;
    z-index: 1;
    display: none;

    &.opened
      display: flex;

  .navItem
    margin-bottom: 1rem;

  .mobileMenuBtn
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    position: relative;
    border: none;
    height: 3.5rem;
    width: 3.5rem;

    &.opened
      position: fixed;
      z-index: 2;
      right: 2rem;
      top: 2rem;