@import '../../variables';

.accountMenu
  cursor: pointer;

.amountText
  font-size: .9rem;
  color: $color-dark-grey;

.amountValue
  padding-left: .5rem;
  font-size: 1.1rem;
  padding-right: 5px;
  font-weight: bold;
  color: $color-primary;

.icon
  color: $color-primary;
