@import '../../variables'

.accountMenu 
  cursor pointer

.amountText
  color $color-dark-grey

.amountValue
  padding-left .5rem
  padding-right 5px
  font-weight bold
  color $color-primary

.icon
  color $color-primary

