@import '../../variables'

.header
  padding: 1.4rem 0;
  background: #f8fafc

.headerInner
  max-width: 1200px
  padding: 0 .5rem
  box-sizing: border-box
  margin: 0 auto

.topNav
  display flex
  margin-bottom: 1.5rem;

.mainNavWrapper
  display flex
  justify-content: space-between
  align-items: center;

.navItem
  font-size: 1.15rem
  color: $color-dark-grey
  text-decoration: none
  transition: color .3s
  &:not(:last-child)
    margin-right: 2.65rem;
  &:hover
    color: $color-primary;

.navItemIcon
  padding-left .5rem

.mainNav
  padding-top .5rem;
  display flex
  align-items: center

.account
  margin-left auto
  direction: block
  