@import '../../variables'

.header
  padding: 1.25rem 0;
  background: #f8fafc

.headerInner
  max-width: $desktop-context-widh
  padding: 0 $desktop-context-padding
  margin: 0 auto

.topNav
  display flex

.mainNavWrapper
  display flex

.navItem
  font-size: 1.15rem
  color: #8795a1
  text-decoration: none
  transition: color .3s
  &:not(:last-child)
    margin-right: 1.25rem;
  &:hover
    color: #4ad9bd;

.mainNav
  margin-left auto
  display flex

.account
  margin-left auto
  direction: block
  