@import '../../variables'

.header
  padding: 1.25rem 0;
  background: #f8fafc

.headerInner
  max-width: $desktop-context-widh
  padding: 0 $desktop-context-padding
  margin: 0 auto

.topNav
  display flex
  margin-bottom: 1.5rem;

.mainNavWrapper
  display flex
  justify-content: space-between
  align-items: center;

.navItem
  font-size: 1.15rem
  color: $color-dark-grey
  text-decoration: none
  transition: color .3s
  &:not(:last-child)
    margin-right: 1.5rem;
  &:hover
    color: #4ad9bd;

.navItemIcon
  padding-left .5rem

.mainNav
  display flex
  align-items: center

.account
  margin-left auto
  direction: block
  