@import '../../variables'

.item
  padding 2rem 0
  border-top 1px solid #f1f5f8
  &:last-child
    border-bottom 1px solid #f1f5f8

.itemHeader
  display flex
  justify-content space-between
  padding-top: .25rem
  padding-bottom 1.25rem

.itemTitle
  font-size 1.125rem
  letter-spacing .7px
  text-decoration none

.itemIcon
  cursor pointer
  color #C6CDD7
  &:hover
    color #FF8282

.itemImage
  width 100px
  height 100px

.itemContent
  display flex

.itemSettings
  display flex
  flex-direction column
  padding-top .5rem
  padding-left: 1.5rem

.itemSpecificationsLabel
  margin-right 1.4rem
  color $color-dark-grey

.itemColorWrapper
  display flex
  align-items: center

.itemColorDroplet
  width 1.2rem
  height 1.2rem
  border-top-left-radius: 0
  border-top-right-radius .6rem
  border-bottom-right-radius .6rem
  border-bottom-left-radius .6rem
  transform: rotate(45deg)
  display inline-block

.itemQuantity
  padding-top 1.25rem
  display flex
  align-items center

.itemQuantityValue
  font-size 1.875rem
  padding 0 1.675rem

.itemSizeWrapper
  display flex

.itemSize
  color $color-primary
  border 1px solid $color-primary
  border-radius 2px
  font-size: .675rem
  padding: .15rem .375rem

.itemControl
  font-size 1.875rem
  background: none
  border none
  padding 0
  cursor pointer
  color $color-dark-grey
  &:hover
    color $color-primary

.itemPrice
  display: flex;
  margin-left: auto;
  flex-direction: column;
  padding-top: 0.5rem;

.itemPriceWrapper
  margin-bottom .5rem
  text-align: right 

.itemPriceAmount, .itemPriceFull
  padding-left .675rem
  color $color-primary
  font-size 1.4rem
  font-weight 600

.itemPriceFull
  color #1e1e3c

.itemPriceLabel, .itemPriceFullLabel
  letter-spacing .7px
  font-size: .875rem
  color $color-primary

.itemPriceFullLabel
  color $color-dark-grey